@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Lexend', sans-serif;
}

h2 {
    font-size: calc(10px + 2vmin);
}

.hero {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-areas:
        '. .'
        'p1 img'
        'btn img';
    gap: 5rem;
}

.hero .aside {
    text-align: center;
    grid-area: p1;
}

.hero .texto h2 {
    margin: 0;
    font-size: 4rem;
}

.hero .texto p {
    font-size: 2rem;
}

h2 {
    background: #121fcf;
    background: linear-gradient(to right, #323ee4 0%, #00cfcf 50%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero img {
    border-radius: 100px 0 0 100px;
    height: 75vh;
    width: 100%;
    grid-area: img;
}

.btn-flex {
    grid-area: btn;
    justify-content: center;
    display: flex;
    gap: 1rem;
}

.btn {
    color: white;
    display: block;
    background-color: #303030;
    padding: 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 1rem;
    justify-content: center;
}
.btn-outline {
    color: black;
    display: block;
    background-color: transparent;
    padding: 1rem;
    font-size: 1.2rem;
    border: 2px solid blue;
    border-radius: 1rem;
    justify-content: center;
}
.btn-outline:hover {
    cursor: pointer;
    background-color: blue;
    color: white;
}

.btn:hover {
    cursor: pointer;
    background-color: #454545;
}

.header {
    display: flex;
    backdrop-filter: blur(2px);
}

nav {
    display: block;
    margin: auto;
}

.nav {
    align-content: center;
    display: flex;
    gap: 5rem;
}

li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 120%;
}
nav a:hover {
    text-decoration: none;
    color: #757575;
    font-size: 120%;
}

#brand {
    margin: 1rem;
}
