.greeting {
    margin-left: 3rem;
}

.App-header {
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
}

.nome {
    background: #121fcf;
    background: linear-gradient(to right, #323ee4 0%, #00cfcf 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-size: calc(10px + 2vmin);
}

.componente1 {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-areas:
        '. . .'
        '. p1 img'
        '. p1 img'
        '. . .';
    gap: 5rem;
}

.componente1 .text {
    grid-area: p1;
}

.componente1 h2 {
    background: #121fcf;
    background: linear-gradient(to right, #323ee4 0%, #00cfcf 50%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.componente1 img {
    border-radius: 100px 0 0 100px;
    height: 75vh;
    width: 100%;
    grid-area: img;
}

button {
    color: white;
    display: block;
    width: 50vw;
    margin: 0 auto;
    background-color: #303030;
    padding: 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 1rem;
    justify-content: center;
}

button:hover {
    background-color: #454545;
}

ul {
    margin: 3rem;
}
