*{
  color: white;
}

html {
  background: #101010;
}

.greeting {
  margin-left: 3rem;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0);
}

.nome {
  color: skyblue;
}